[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
pandas = "*"
wordcloud = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
datadotworld = "*"
bs4 = "*"
lxml = "*"
pdfx = "*"
pymongo = "*"
python-docx = "*"
seaborn = "*"
statsmodels = "*"
bokeh = "*"
altair = "*"
vega_datasets = "*"

[requires]
python_version = "3.7"
