[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
wordcloud = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
datadotworld = "*"
"beautifulsoup4" = "*"
lxml = "*"
pdfx = "*"
pymongo = "*"
python-docx = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6"
